body,
html,
.App {
  margin: 0;
  padding: 0;
  height: 100%;
  /* Full viewport height */
  width: 100%;
  color: white;
  background-color: #2A3C5F;
  /* Full viewport width */
}

.App {
  text-align: center;
  background-color: #2A3C5F;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2A3C5F;
  min-height: 100vh;
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hero {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 60%, rgba(42, 60, 95, 0.3) 85%, #2A3C5F), url('assets/h-image.jpeg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 2rem;
}

.hero-content {
  position: relative; 
  z-index: 2;
  color: white;
}

.container {
  display: flex;
  align-items: center; /* Aligns items vertically */
  justify-content: space-between; /* Adds space between text and image */
  gap: 20px; /* Adds spacing between text and image */
  padding: 20px;
}

.text {
  flex: 1; /* Allows text to take up available space */
  max-width: 50%; /* Ensures text doesn't take up too much space */
}

.text p {
  font-size: 1.2rem; /* Adjust font size */
  line-height: 1.5; /* Improves readability */
  text-align: left;
}

.image {
  flex: 1; /* Ensures image takes up equal space as text */
  max-width: 50%; /* Ensures image doesn't exceed half the container width */
  text-align: center; /* Centers the image inside its div */
}

.image img {
  max-width: 100%; /* Ensures the image scales properly */
  height: auto; /* Maintains aspect ratio */
  border-radius: 10px; /* Optional: Adds rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Adds a shadow */
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.tooltip {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 8px;
  border-radius: 4px;
  pointer-events: none;
  font-size: 12px;
  z-index: 1000;
  display: none;
}

.linebarchart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
  padding: 10px 10px 50px 10px;
}

.toggle-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.toggle-buttons button {
  padding: 15px 15px;
  border: 1px solid #1a57a2;
  background-color: #e8f0fe;
  color: #1a57a2;
  border-radius: 4px;
  cursor: pointer;
  font-size: calc(10px + 1vmin);
  text-align: center;
  width: 200px;
  font-weight: bold;
}

.toggle-buttons button.active {
  background-color: #1a57a2;
  color: #ffffff;
}

.toggle-buttons button:hover {
  background-color: #4ba8b2;
  color: #ffffff;
}

.network-filter {
  display: flex;
  flex: row;
  align-content: center;
  justify-content: center;
  gap: 10px;
}

/* For the network options */
.view-options {
  display: flex;
  gap: 10px;
  margin-bottom: 20px 0;
  align-items: center;
  justify-content: center;
}

.view-options button {
  padding: 10px 20px;
  border: 1px solid #1a57a2;
  background-color: #e8f0fe;
  color: #1a57a2;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}

.view-options button.active {
  background-color: #1a57a2;
  color: #ffffff;
}

.view-options button:hover {
  background-color: #4ba8b2;
  color: #ffffff;
}

/* .section-header {
  font-size: calc(10px + 2vmin);
} */